.App {
  text-align: center;
}

.video-container img {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  margin-left: 90px;
  padding-top: 10px;
  font-family: "Fredericka the Great", cursive;
  font-size: 2rem;

  color: white;
  letter-spacing: 1.3px;
}
.nav-link {
  text-decoration: none;
  color: white;
}
.navbar-collapse {
  padding-right: 90px;
  padding-left: 90px;
}
.navbar-toggler {
  color: white;
  background-color: white;
}
.nav-item {
  padding: 0 10px;
}
.L {
  color: rgb(83, 204, 215);
}
.navbar-brand:hover {
  color: white;
}
.nav-link:hover {
  color: rgb(83, 204, 215);
  font-size: 1.05rem;
}

.firstSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 130px;
  padding-bottom: 190px;
}
.firstSection > div {
  margin-left: 150px;
  width: 40%;
}
.leftSection {
  z-index: 1;
  position: relative;

  font-size: 2rem;
  margin: 70px 60px;
}
.leftSection .social-icon {
  padding-left: 10px;
}

.rightSection img {
  border-radius: 50%;
  border: 5px solid white;
  animation: animate 4s ease-in 0s infinite alternate;
  width: 60%;
}
.purple {
  color: rgb(83, 204, 215);
}
#element {
  font-size: 70px;
  font-weight: bold;
  color: rgb(83, 204, 215);
}

@media screen and (max-width: 992px) {
  .firstSection {
    flex-direction: column-reverse;
  }

  .firstSection > div {
    width: 60%;
  }
  .leftSection {
    font-size: 2rem;
    right: 80px;
  }
  .about {
    flex-direction: column;
  }
  .about img {
    padding-left: 40px;
  }
  .contact {
    flex-direction: column;
  }
}

@media screen and (min-width: 715px) AND (max-width: 992px) {
  .techstack {
    flex-direction: column;
  }
  .techstack2 {
    flex-direction: column;
  }
  .skills-row {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 715px) {
  .techstack {
    flex-direction: column;
  }
  .techstack2 {
    flex-direction: column;
  }
}
@media screen and (max-width: 790px) AND (min-width: 620px) {
  .project-list {
    padding-left: 25%;
  }
}
@media screen and (max-width: 620px) {
  .project-list {
    padding-left: 13%;
  }
}
@media screen and (max-width: 1200px) AND (min-width: 994px) {
  .img2 {
    padding-top: 150px;
  }
  .intro {
    padding: 0;
  }
}

/******** about *******/
#about {
  padding-top: 100px;
  padding-bottom: 160px;
}
.intro {
  width: 75%;
  color: rgb(204, 204, 204);
  padding-left: 60px;
  padding-bottom: 60px;
}
.col {
  padding: 0;
}

.img2 {
  width: 75%;
  padding-bottom: 20px;
}

.sub-title {
  padding-top: 30px;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
#skills {
  padding: 0 100px;
  text-align: center;
}
#skills h1 {
  padding: 50px;
  font-family: "Times New Roman", Times, serif;
  color: rgb(83, 204, 215);
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}
.techstack {
  display: flex;
  text-align: center;
  justify-content: center;
}
.techstack2 {
  justify-content: center;
  display: flex;
  text-align: center;
}
.techstack2 img {
  padding: 7px 70px;
  width: 300px;
}
.techstack img {
  padding: 10px 70px;
  width: 300px;
}
#skills p {
  font-weight: bold;
  font-size: large;
}
.skillName {
  align-items: center;
  text-align: center;
}
.skill:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}
.skill:not(:hover) {
  transition: all 0.5s ease-in-out;
}

@keyframes animate {
  from {
    transform: translatey(-10px);
  }
  to {
    transform: translatey(10px);
  }
}
/******* project *******/

#Projects {
  margin: 150px 0;
  margin-bottom: 120px;
  text-align: center;
  padding: 100px 50px;
}
.project-title {
  text-align: center;
}

#Projects a {
  text-decoration: none;
}
.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 150px;
  margin-top: 50px;
}

.project-icon {
  font-size: 50px;
  margin-bottom: 30px;
}

.work:hover .layer {
  transform: scale(1);
  height: 100%;

  width: 300px;
}
.badge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;

  background-size: 120%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.75);
}
.pro1 {
  background: url(https://www.vhv.rs/dpng/d/512-5121842_portfolio-png-png-download-portflio-logo-transparent-png.png);
  background-size: cover;
}
.pro2 {
  background: url(https://e7.pngegg.com/pngimages/126/986/png-clipart-inventory-school-library-edookit-ltd-todo-list-blue-angle-thumbnail.png);
  background-size: cover;
}
.pro3 {
  background: url(https://static.vecteezy.com/system/resources/previews/007/566/103/original/to-do-list-color-icon-notepad-with-pencil-taking-notes-checklist-isolated-illustration-vector.jpg);
  background-size: cover;
}

.badge:hover {
  box-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 0.75);
}
.badge:hover .text {
  text-align: center;
  transform: rotate(-45deg) translate(0px) rotate(-315deg);
  background: rgb(83, 204, 215, 0.7);
  width: 20rem;
  font-size: 1.5rem;
  line-height: 0.8rem;
  height: 20rem;
  margin-top: -10rem;
  margin-left: -10rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.badge:hover h1 {
  padding-top: 20px;
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 30px;
}
.badge:hover .link {
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 20px;
  top: 8px;
}
.badge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 0.1rem;
  left: 50%;
  top: 50%;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  color: #000000;
  border-radius: 50%;

  background: rgb(83, 204, 215);
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.text div {
  padding-top: 16px;
}
.text div h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.link {
  position: relative;
  bottom: 2px;
  display: inline-block;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: white;
  text-decoration: none;
  color: rgb(83, 204, 215);
  font-size: 10px;
  line-height: 25px;
  text-align: center;
}

.button-see {
  display: flex;
  justify-content: center;
}
.see-button {
  border: 1px solid rgb(0, 234, 255);
  background: none;
  text-decoration: none;
  margin: 50px;
  text-align: center;
  display: block;
  padding: 14px 50px;
  color: white;
  border-radius: 6px;
  width: fit-content;
}
.see-button:hover {
  color: black;
  background-color: rgb(83, 204, 215);
}

/***** contact *****/
#contact {
  padding: 20px 50px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 35%;
}

.social-icon a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}
.social-icon a:hover {
  color: rgb(83, 204, 215);
  transform: translateY(-5px);
}
.contact-left p i {
  font-size: 20px;
  margin-right: 15px;
  margin-top: 20px;
  color: rgb(83, 204, 215);
}
.btn2 {
  color: #000000;
  background-color: rgb(83, 204, 215);
  display: inline-block;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 1px solid white;
  outline: none;
  background-color: #000000;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
.download {
  margin-left: 0;
}
#msg {
  color: #ff0000;
  margin-top: -40px;
  display: block;
}
/* footer */
.copyright {
  width: 100%;
  text-align: center;
  padding: 15px 0;

  margin-top: 20px;
}
